@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #f6f9fc;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  color: #0b401d;
}

.calendar__notification {
  width: 100vmin;
  height: 15vmin;
  display: flex;
  position: absolute;
  top: 0%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-color: #20bf55;
  background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
}

.calendar__input {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vmin;
  margin: 2vmin 0;
  font-size: 1em;
}

.calendar__input .inputBtn {
  width: 8vmin;
  height: 4vmin;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1em;
  transition: transform 0.2s;
}

.calendar__input .inputBtn:nth-child(2) {
  width: 20vmin;
}

.calendar__input .inputBtn:active {
  transform: scale(0.98);
}

.calendar__input .inputBtn:focus,
.calendar__input:focus {
  outline: none;
}

.calendar {
  width: 100vmin;
  height: 80vmin;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-top: 15vmin;
}

.oneDisplayMode {
  width: 65vmin;
  height: 65vmin;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(1, 1fr);
  font-size: 1.2em !important;
}

.calendar .monthTable {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.calendar .monthTable .monthTable__name {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 1em;
  background-color: #5eba7d;
  color: #fff;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.calendar .monthTable .monthTable__contant {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(7, 1fr);
  background-color: #fff;
  grid-gap: 2px;
  padding: 1vmin;
}

.monthTable__contant div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  font-size: 0.8em;
}

.prevDays,
.nextDays {
  opacity: 0.2;
}

.daysWeek {
  font-weight: 600;
  font-size: 0.9em;
  color: #21bf56;
}

.sat {
  color: #ff3b30;
}

.sun {
  color: #0579fc;
}

.today {
  background-color: #21bf56 !important;
  color: #fff;
  border-radius: 50%;
  border-width: -2px;
}

@media screen and (min-width: 300px) and (max-width: 700px) {
  body {
    justify-content: end;
  }

  .calendar__notification {
    height: 75vmin;
    margin-bottom: 10vmin;
    padding: 30px;
    font-size: 5vmin;
    color: #fff;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    background-color: #20bf55;
    background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
  }

  .calendar__input {
    margin: 10vmin 0vmin;
    width: 100%;
    height: 15vmin;
  }

  .calendar__input .inputBtn {
    width: 12vmin;
    height: 12vmin;
    font-size: 0.9em;
  }
  .calendar__input .inputBtn:nth-child(2) {
    width: 40vmin;
    margin: 0 10vmin;
  }

  .calendar {
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(1, 1fr);
    width: 90vmin;
    margin: 0 auto;
    margin-top: 80vmin;
  }

  .calendar .monthTable,
  .calendar .monthTable .monthTable__name {
    font-size: 5vmin;
  }

  .calendar .monthTable .monthTable__contant {
    height: 90vmin;
  }
}
